/* this is question three */
body {
 background-color: black;
}

p{
 color: white;
}
/* this is question 8  */
.color{
 background-color: blue;
}
li{
 color: cyan;
}
/* this is question seven */
ol{
 color: cyan;
}

